<div class="first-section"></div>
<section class="landing-section">
    <!-- <div>
        <h1 class="landing-content-left">
            We're <br/>
            <img src="https://ooftermi.sirv.com/onepersonaprojects/1Persona%20Logo%201.png">
        </h1>

        <h2 class="animate__animated animate__lightSpeedInRight">
            Level Up your Website
        </h2>
        <h2 class="line-1 anim-typewriter">
            You name it we create it
        </h2>
        <h2 class="animate__animated animate__backInUp">
            Lets talk
        </h2>
    </div> -->


    <div class="animated-title">
        <div class="text-top">
          <div>
            <span>Level Up</span>
            <span>Your Website</span>
          </div>
        </div>
        <div class="text-bottom">
          <div>
            <img class="landing-logo" src="https://ooftermi.sirv.com/onepersonaprojects/1Persona%20Logo%201.png">
            <br/>
            <a class="contact-btn">Contact Us</a>
          </div>
          
        </div>
        
      </div>
</section>

<section class="second-section">
  <h1 class="landing-titles">
      <strong> What we Offer </strong>
  </h1>
  <div class="row services">
      <div class="services-container col-md-4">
      <div class="services-card">
          <div class="services-icon">
          <img src="../../assets/images/design.png" width="100%"/>
          </div>
  
          <div class="services-content">
          <h6 class="services-content-details-title">
              <strong>Design </strong>
          </h6>
          <p class="services-content-details">
              At One Persona Projects, we design custom web pages that will enable you to interact with your clients in the style that you prefer. Connect with us to see some of our work.
          </p>
          </div>
      </div>
      </div>
  
      <div class="services-container col-md-4">
      <div class="services-card">
          <div class="services-icon">
          <img src="../../assets/images/develop.png" width="100%"/>
          </div>
  
          <div class="services-content">
          <h6 class="services-content-details-title">
              <strong> Develop</strong>
          </h6>
          <p class="services-content-details">
              We provide web development services using up to date technologies to ensure that you are ahead and efficient in your day to day dealings.
          </p>
          </div>
      </div>
      </div>
  
      <div class="services-container col-md-4">
      <div class="services-card">
          <div class="services-icon">
          <img src="../../assets/images/ecommerse.png" width="100%"/>
          </div>
  
          <div class="services-content">
          <h6 class="services-content-details-title">
              <strong> eCommerse </strong>
          </h6>
          <p class="services-content-details">
              Want to take your business online? Let us create and manage your eCommerse Website and you focus on running your business.
          </p>
          </div>
      </div>
      </div>
  
  
  
  </div>
</section>


<section class="third-section">

        <h1 class="landing-titles">
           <strong>Contact Us </strong>
        </h1>
        <div class="row justify-content-center ">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+27848940303" class="link">0&nbsp;(+27) 84 894 0303</a></p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:info@onepersonaprojects.co.za" class="link">info@onepersonaprojects.co.za</a></p>
                    </div>
                </div>
            </div>
            <div class="map-wrapper col-12 col-md-6">
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDk89J4FSunMF33ruMVWJaJht_Ro0kvoXs&amp;q=58 Friedland Avenue, Cyrldene, 2198" width="600" height="450" frameborder="0" style="border:0"></iframe>
                </div>
                <!-- <div class="google-map"><iframe style="border:0;" width="300" height="300" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDk89J4FSunMF33ruMVWJaJht_Ro0kvoXs&amp;q=58 Friedland Avenue, Cyrldene, 2198" allowfullscreen=""></iframe></div> -->
            </div>
        </div>
   
</section>

<section class="forth-section">
    
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6">
                <h1 class="social-title">
                    <strong>Follow Us</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style display-7">Start with creating a
                    new website and picking up the theme. Then expand the blocks panel with the big red "plus" button in
                    the
                    lower right corner and start dragging the blocks you like.</p>
            </div>
            <div class="icons d-flex align-items-center col-12 col-md-6 justify-content-end mt-md-0 mt-2 flex-wrap">
                <a href="#" target="_blank">
                    <img class="social-icons" src="../../../assets/images/facebook.png" alt="facebook">
                </a>
                <a href="#" target="_blank">
                    <img class="social-icons" src="../../../assets/images/instagram.png" alt="instagram">
                </a>
                <a href="#" target="_blank">
                    <img class="social-icons" src="../../../assets/images/linkedin.png" alt="linkedin">
                </a>
               
                
            </div>
        </div>
   
    
</section> 